In [2]:
def square(num):
    return num**2

In [3]:
my_nums = [1,2,3,4,5]

In [4]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [5]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [6]:
def splicer(mystring):
    if len(mystring)%2 ==0:
        return 'EVEN'
    else:
        return mystring[0]

In [12]:
names = ['Andy','Eve','Sally']

In [14]:
list(map(splicer,names))

['EVEN', 'E', 'S']

In [16]:
def check_even(num):
    return num%2 == 0

In [18]:
mynums = [1,2,3,4,5,6]

In [20]:
list(filter(check_even,mynums))

[2, 4, 6]

In [26]:
lambda num: num ** 2

In [28]:
square(3)

9

In [30]:
list(map(lambda num:num**2,mynums))

[1, 4, 9, 16, 25, 36]

In [32]:
list(filter(lambda num:num%2 == 0,mynums))

[2, 4, 6]

In [34]:
list(map(lambda name:name[0],names))

['A', 'E', 'S']